<div class="w-full h-full p-4 mt-5">
  <p-confirmDialog />
  <p-toast />
  <p-card>
    <p-table [value]="clientes">
      <ng-template pTemplate="caption">
        <div class="flex">
          <div class="flex w-6 justify-content-start align-items-center">
            <h1>Clientes</h1>
          </div>
          <div class="flex w-6 justify-content-end align-items-center">
            <app-custom-button [custom]="getCustomButton()" (onClickEvent)="novo()"></app-custom-button>
          </div>
        </div>

      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th style="width: '20%'">Telefone</th>
          <th style="width: '10%'">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cliente>
        <tr>
          <td>{{cliente.nome}}</td>
          <td>{{cliente.telefone}}</td>
          <td>
            <p-button icon="pi pi-pencil" severity="info" size="small" [style]="{'max-width.px': 30}" [text]="true"
              (onClick)="editar(cliente.id)"></p-button>
            <p-button icon="pi pi-trash" [text]="true" severity="danger" size="small" class="mx-2"
              [style]="{'max-width.px': 30}" (onClick)="openDialog($event, cliente.id)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
