.login-backgroud {
  background-image: url('../../../../assets/images/2831650.jpg') !important;
}

.p-inputtext {
  width: '100%' !important;
}

.system-icon {
  background-image: url('../../../../assets/images/diamond-ring.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
}

.link__cadastro {
  margin-top: -1.2rem;
  margin-bottom: 1.2rem;
  display: block;
  color: #6e767c;
  font-size: 11px;
}

.link__cadastro a {
  text-decoration: none;
  color: rgb(62, 62, 240);
  cursor: pointer;
}

@media (min-width: 1050px) {
  .system-icon {
    height: 100px;
  }
}
