<div class="w-full mt-5 p-4">
  <p-toast position="top-right" [key]="'tr1'" />
  <p-blockUI [blocked]="loading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>
  <p-card>
    <h1 class="mb-4 -mt-2">Cadastro de Cliente</h1>
    <app-custom-form [form]="form" [controls]="getFormControls()" (BackEvent)="voltar()" (SubmitEvent)="submit()"
      (selectOutputEvent)="onTipoContatoChange($event)"></app-custom-form>
  </p-card>
</div>
