<div class="card flex justify-content-center h-full">
  <p-megaMenu class="text-white-alpha-80 h-full"
    styleClass="bg-indigo-500 h-full text-white-alpha-80 border-none border-noround-left" [model]="items"
    [orientation]="'vertical'">
    <ng-template pTemplate="start">
      <span class="inline-flex align-items-center gap-2 px-2 py-2">
        <img src="diamond-ring.png" alt="system logo" height="60px" width="60px">
        <h4 class="text-white font-bold">Bijus da Manu</h4>
      </span>
    </ng-template>
    <ng-template pTemplate="end" class="text-color hover:pink-500">
      <button pRipple
        class="relative p-link bg-indigo-500 button-hover overflow-hidden p-2 pl-3 text-color hover:pink-700 border-noround border-none w-full flex justify-content-start align-items-center"
        (click)="minhaConta()">
        <p-avatar *ngIf="userPhoto && userPhoto !== ''" [image]="userPhoto" styleClass="mr-2 bg-cover"
          shape="circle"></p-avatar>
        <p-avatar *ngIf="!userPhoto" icon="pi pi-user" styleClass="mr-2" shape="circle"></p-avatar>
        <span class="inline-flex flex-column">
          <span class="text-white font-bold text-sm">{{username}}</span>

        </span>
      </button>
    </ng-template>
  </p-megaMenu>

</div>
