::ng-deep .p-menuitem-text {
  color: #fff;
}

::ng-deep .p-megamenu-submenu {
  background-color: #fff;
}


::ng-deep .p-submenu-icon {
  color: #fff;
}

::ng-deep .p-menuitem-icon {
  color: white !important;
}


::ng-deep .p-menuitem-link:hover {
  background-color: #d63384;
}

::ng-deep .p-megamenu .p-menuitem.p-highlight>.p-menuitem-content {
  background: #d63384;
}



::ng-deep .p-submenu-list> ::ng-deep .p-menuitem> ::ng-deep .p-menuitem-content> ::ng-deep .p-menuitem-link> ::ng-deep .p-menuitem-text {
  color: #000 !important;
}

.button-hover:hover {
  background-color: #d63384 !important;
}

.button-hover:focus {
  background-color: #d63384 !important;
}
