<div class="card flex justify-content-center h-full surface-100">
  <p-megaMenu class="text-white-alpha-80 h-full "
    styleClass="bg-indigo-700 h-full text-white-alpha-80 border-none border-noround-left " [model]="items"
    [orientation]="'vertical'">
    <ng-template pTemplate="start">
      <span class="inline-flex align-items-center gap-2 px-2 py-2">
        <img src="diamond-ring.png" alt="system logo" height="60px" width="60px">
        <h4 class="text-white font-bold">Bijus da Manu</h4>
      </span>
    </ng-template>
  </p-megaMenu>

</div>
