.container-overflow {
  overflow-y: scroll;
}

::ng-deep.p-inputnumber-input {
  text-align: right;
}


.search-button {
  border-radius: 0 10% 10% 0;
}

.search-button:disabled {
  cursor: not-allowed;
}


::ng-deep .p-tieredmenu .p-menuitem>.p-menuitem-content .p-menuitem-link .p-menuitem-text {
  color: #4b5563 !important;
}

::ng-deep .p-tieredmenu .p-menuitem>.p-menuitem-content .p-menuitem-link .p-menuitem-text:hover {
  color: #fff !important;
}

::ng-deep .p-tieredmenu .p-menuitem:not(.p-highlight):not(.p-disabled)>.p-menuitem-content:hover .p-menuitem-link .p-menuitem-text {
  color: #fff !important;
}
