<div class="w-full h-screen mb-2 p-3 align-items-center">
  <p-toast position="top-right" [key]="'trv'" />
  <p-confirmPopup />
  <p-blockUI [blocked]="loading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>
  <p-card>
    <div class="py-2" *ngIf="id">
      <h1 class="mb-2 -mt-4">Venda - <span class="text-indigo-400">{{codigoVenda}}</span></h1>
      <span class="mb-2"><span class="font-semibold">Data:</span> {{dataVenda}}</span>
      <span class="ml-2 mb-2"><span class="font-semibold">Status:</span> {{statusAtual}}</span>
    </div>

    <h1 *ngIf="!id" class="mb-4 -mt-2">Venda</h1>
    <p-splitter styleClass="mb-5" [panelSizes]="[30,70]" layout="horizontal" class="w-full h-2rem">
      <ng-template pTemplate>
        <div class="w-full flex-column">
          <div class="w-full p-4 ">
            <p-card class="w-full p-1">
              <h2 class="text-center -mt-3">SubTotal</h2>
              <p class="text-center">{{subTotal | currency: 'BRL'}}</p>
            </p-card>
            <p-card class="w-full p-1">
              <h2 class="text-center -mt-3">Desconto</h2>
              <div class="flex align-items-center justify-content-center w-full">
                <p-inputNumber suffix="%" [(ngModel)]="desconto" [disabled]="subTotal == 0"
                  (ngModelChange)="calcularTotal()" />
              </div>
            </p-card>
            <p-card class="w-full p-1">
              <h2 class="text-center -mt-3">Total</h2>
              <p class="text-center">{{total | currency: 'BRL'}}</p>
            </p-card>
          </div>

        </div>

      </ng-template>
      <ng-template pTemplate>
        <div class="col flex justify-content-center w-full ">
          <p-table [value]="produtos" class="w-full">
            <ng-template pTemplate="caption">
              <div class="w-full p-3">
                <form [formGroup]="form" class="w-full flex gap-2">
                  <div class="w-3">
                    <app-select [form]="form"
                      [data]="getCustomSelect('numero', 'id', true, 'numero', true, 'Selecione a maleta', 'maletaId', 'Maleta', maletas, true)"
                      (addSelectItemEmmiter)="adicionarMaleta($event)"></app-select>
                  </div>

                  <div class="w-3">
                    <app-select [form]="form"
                      [data]="getCustomSelect('nome', 'id', true, 'name', true, 'cliente', 'clienteId', 'Cliente', this.clientes, true)"
                      (selectCustomValueChangeEvent)="changeDisabledProdutoField($event)"></app-select>
                  </div>

                  <div class="w-5">
                    <p-floatLabel>
                      <p-inputGroup>
                        <input type="text" pInputText formControlName="produto"
                          (keypress)="onKeypressProduto($event)" />
                        <button type="button" pButton icon="pi pi-search" class="search-button " (click)="getProduto()"
                          [disabled]="buttonSearchDisable"></button>
                        <label for="produto"><span class=" pl-2 text-red-600 mr-1">*</span>Produto</label>
                      </p-inputGroup>
                    </p-floatLabel>
                  </div>




                </form>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center" style="width:10%">
                  Código
                </th>
                <th class="text-center" style="width:50%">
                  Produto
                </th>
                <th class="text-center" style="width:10%">
                  Quantidade
                </th>
                <th class="text-center" style="width:25%">
                  Valor Unitário
                </th>
                <th>

                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-rowIndex="rowIndex" let-editing="editing">
              <tr>
                <td>
                  <p class="text-center">{{ product.codigo }}</p>
                </td>
                <td>
                  <p class="text-center">{{ product.descricao }}</p>
                </td>
                <td [pEditableColumn]="product.quantidade" pEditableColumnField="inventoryStatus">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText [(ngModel)]="product.quantidade"
                        (ngModelChange)="calcularSubtotalInput(product.valorUnitario, product.quantidade, rowIndex)" />
                    </ng-template>
                    <ng-template pTemplate="output">
                      <p class="text-center">{{ product.quantidade }}</p>
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p class="text-center">{{ product.valorUnitario | currency: 'BRL' }}</p>
                </td>
                <td>
                  <p-button icon="pi pi-trash" [text]="true" severity="danger" size="small" class="mx-2"
                    [style]="{'max-width.px': 30}" (onClick)="openConfirmDialog($event, product)"></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </ng-template>
    </p-splitter>
    <div class="flex w-full justify-content-between">
      <app-custom-button [custom]="getCustomButton('Cancelar', false,'', 'danger')"
        (onClickEvent)="cancelar()"></app-custom-button>
      <div *ngIf="!id">
        <app-custom-button [custom]="getCustomButton('salvar', false, 'bg-indigo-600', 'primary')"
          (onClickEvent)="salvarVenda('salvar')"></app-custom-button>
      </div>
      <div *ngIf="id">
        <p-splitButton label="Salvar" (onClick)="salvarVenda('salvar')" [model]="buttonItens"
          severity="help"></p-splitButton>
      </div>

    </div>
  </p-card>
</div>

<p-dialog [modal]="true" [(visible)]="modalProdutosVisible" [style]="{'width': '50%'}">
  <p-table [value]="modalProducts" selectionMode="single" [(selection)]="selectedModalProduct" dataKey="codigo">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        Escolha um produto
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Código</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Valor</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr [pSelectableRow]="product">
        <td>{{product.codigo}}</td>
        <td>{{product.descricao}}</td>
        <td>{{product.quantidade}}</td>
        <td>{{product.valor | currency: 'BRL'}}</td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <div class="flex justify-content-between">
      <p-button label="Cancelar" severity="danger" (onClick)="closeModalProdutos()"></p-button>
      <p-button label="Confirmar" severity="primary" (onClick)="confirmarProdutoSelecionado()"></p-button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog [modal]="true" [(visible)]="modalMaletaVisible" [style]="{'width': '50%'}">
  <app-maleta-cadastro [modalVenda]="this.modalMaletaVisible"
    (modalVendaCadastro)="incluirMaleta($event)"></app-maleta-cadastro>
</p-dialog>
