<div class="w-full h-full mt-5 p-4 align-items-center" style="overflow-y: scroll;">
  <p-toast position="top-right" [key]="'trp'" />
  <p-blockUI [blocked]="loading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>
  <p-card>
    <h1 class="mb-4 -mt-2">Venda</h1>
    <p-splitter styleClass="mb-5" [panelSizes]="[25,75]" layout="horizontal" class="w-full h-2rem">
      <ng-template pTemplate>
        <div class="w-full flex-column">
          <div class="w-full p-4 ">
            <p-card class="w-full p-2">
              <h2 class="text-center -mt-3">SubTotal</h2>
              <p class="text-right">R$ 10,00</p>
            </p-card>
            <p-card class="w-full p-2">
              <h2 class="text-center -mt-3">Desconto</h2>
              <p class="text-right">R$ 5,00</p>
            </p-card>
            <p-card class="w-full p-2">
              <h2 class="text-center -mt-3">Total</h2>
              <p class="text-right">R$ 5,00</p>
            </p-card>
          </div>
          <div class="w-full p-4">
            <app-custom-button
              [custom]="getCustomButton('Finalizar Venda', true, 'w-full px-4 bg-indigo-600', 'primary')"></app-custom-button>
          </div>
        </div>

      </ng-template>
      <ng-template pTemplate>
        <div class="col flex justify-content-center w-full">
          <p-table [value]="produtos" class="w-full">
            <ng-template pTemplate="caption">
              <div class="flex">
                <form [formGroup]="form">
                  <p-inputGroup>
                    <input type="text" pInputText placeholder="produto" formControlName="produto" />
                    <button type="button" pButton icon="pi pi-search" (click)="getProduto()"></button>
                  </p-inputGroup>
                </form>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th class="text-center" style="width:20%">
                  Código
                </th>
                <th class="text-center" style="width:50%">
                  Produto
                </th>
                <th class="text-center" style="width:25%">
                  Quantidade
                </th>
                <th class="text-center" style="width:25%">
                  Valor
                </th>
                <th>

                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-editing="editing">
              <tr>
                <td>
                  {{ product.codigo }}
                </td>
                <td>
                  {{ product.descricao }}
                </td>
                <td [pEditableColumn]="product.quantidade" pEditableColumnField="inventoryStatus">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText [(ngModel)]="product.quantidade" />
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ product.quantidade }}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  {{ product.valorUnitario | currency: 'BRL' }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </ng-template>
    </p-splitter>
  </p-card>
</div>
