.login-backgroud {
  background-image: url('../../../assets/images/2831650.jpg') !important;
}

.p-inputtext {
  width: '100%' !important;
}

.system-icon {
  background-image: url('../../../assets/images/diamond-ring.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
}

@media (min-width: 1050px) {
  .system-icon {
    height: 100px;
  }
}
