<div class="w-full  p-3 mb-2">
  <p-confirmDialog />
  <p-toast position="top-right" key="trCustom" />
  <p-blockUI [blocked]="loading">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
      animationDuration=".5s"></p-progressSpinner>
  </p-blockUI>
  <p-card>
    <app-custom-table [pageTitle]="'Relatórios de Vendas'" [pageName]="'Venda'" [listOfColumns]="getColumnList()"
      [addRoute]="'vendas/venda'" [editRoute]="'vendas/venda'" [listData]="vendas" (deleteEvent)="deletar($event)"
      (downloadEvent)="downloadRelatorio($event)" [downloadVisible]="true"></app-custom-table>
  </p-card>
</div>
