/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";


body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100vh;
}

html {
  margin: 0;
  padding: 0;
}

::ng-deep .p-inputtext[disabled] {
  background-color: #fff !important;
  color: rgba(0, 0, 0, 0.85) !important;
  border: none !important;
  border-bottom: 1px solid rgba(209, 209, 209, 0.35) !important;
  cursor: not-allowed;
}
