<section class="p-4">
  <h1>Dashboard</h1>
  <p-card [style]="{'heigth': '150px', 'width': '100%', 'padding': '1rem'}">
    <ng-template pTemplate="header">
      <h3 class="ml-3 mt-2">Maleta Atual</h3>
      <section class="flex align-items-center justify-content-center gap-5">
        <p-card class="w-2">
          <ng-template pTemplate="header">
            <div class="flex justify-content-center align-items-center">
              <p class="text-lg font-light">Número</p>
            </div>
          </ng-template>
          <ng-template pTemplate="content">
            <div class="flex justify-content-center align-items-center w-full"><span class="text-2xl">{{maleta.numero ??
                '-' }}</span>
            </div>
          </ng-template>
        </p-card>

        <p-card class="w-2">
          <ng-template pTemplate="header">
            <div class="flex justify-content-center align-items-center">
              <p class="text-lg font-light">Envio</p>
            </div>
          </ng-template>

          <ng-template pTemplate="content">
            <div class="flex justify-content-center align-items-center w-full"><span class="text-2xl">{{(maleta.Envio |
                date:
                'dd/MM/yyyy') ?? '-' }}</span></div>
          </ng-template>
        </p-card>

        <p-card class="w-2">
          <ng-template pTemplate="header">
            <div class="flex justify-content-center align-items-center">
              <p class="text-lg font-light">Vencimento</p>
            </div>
          </ng-template>

          <ng-template pTemplate="content">
            <div class="flex justify-content-center align-items-center w-full"><span class="text-2xl">{{(maleta.Troca |
                date:
                'dd/MM/yyyy') ?? '-' }}</span></div>
          </ng-template>
        </p-card>

        <p-card class="w-2">
          <ng-template pTemplate="header">
            <div class="flex justify-content-center align-items-center">
              <p class="text-lg font-light">Pagamento</p>
            </div>
          </ng-template>

          <ng-template pTemplate="content">
            <div class="flex justify-content-center align-items-center w-full"><span
                class="text-2xl">{{(maleta.Pagamento | date:
                'dd/MM/yyyy') ?? '-' }}</span></div>
          </ng-template>
        </p-card>

        <p-card class="w-2">
          <ng-template pTemplate="header">
            <div class="flex justify-content-center align-items-center">
              <p class="text-lg font-light">Vendas em aberto</p>
            </div>
          </ng-template>

          <ng-template pTemplate="content">
            <div class="flex justify-content-center align-items-center w-full"><span
                class="text-2xl">{{numberOfVendas}}</span></div>
          </ng-template>
        </p-card>

      </section>
    </ng-template>
  </p-card>
</section>

<section class="flex justify-content-center align-items-center w-full pb-2">
  <p-card class="w-6 px-4">
    <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
  </p-card>
  <p-card class="w-6 px-4">

  </p-card>
</section>
